.category-container{
    display: grid;
    grid-template-columns: repeat(4,250px);
    justify-content: center;
    background-image: url('./CategoryImages/assignment-107.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 250px 200px;
    height: 450px;   
    padding: 100px;
    border: 2px solid gold;
   
}