.footer-container {
    background: #282F95;   
    position: relative;        
    padding: 5px;
    margin-top: 20px;
    
    .subscription-body{
       
        background: #FFFFFF;
        padding: 30px;
        margin: 50px 50px 50px 50px;
        
    }    
    .footer-info {
        color: white;
        margin: 0px 50px;
        ul {
            list-style-type: none;
            text-align: left;
        
        }
       
    }
}